#
############################## Define Macro ################################
#
# Replace domain_type() macro as it hides some relevant denials in audit.log
#
gen_require(`
	type setrans_var_run_t, syslogd_t;
')

define(`module_domain_type',`
	allow $1 proc_t:dir { search };
	allow $1 proc_t:lnk_file { read };
	allow $1 self:dir { search };
	allow $1 self:file { open read write };
	dontaudit init_t syslogd_t:fd use;
	dontaudit $1 security_t:filesystem getattr;
	dontaudit $1 self:file getattr;
	dontaudit $1 setrans_var_run_t:dir search;
	dontaudit unconfined_t $1:process { noatsecure rlimitinh siginh };
')

#
############# Test kernel modules with finitmod_module(2) ###################
#
attribute finitmoddomain;

type test_finitmod_t;
module_domain_type(test_finitmod_t)
unconfined_runs_test(test_finitmod_t)
typeattribute test_finitmod_t testdomain;
typeattribute test_finitmod_t finitmoddomain;

allow test_finitmod_t self:capability { sys_module };
allow test_finitmod_t test_file_t:system { module_load };
allow test_finitmod_t kernel_t:system { module_request };

############### Deny cap sys_module ######################
type test_finitmod_deny_sys_module_t;
module_domain_type(test_finitmod_deny_sys_module_t)
unconfined_runs_test(test_finitmod_deny_sys_module_t)
typeattribute test_finitmod_deny_sys_module_t testdomain;
typeattribute test_finitmod_deny_sys_module_t finitmoddomain;

neverallow test_finitmod_deny_sys_module_t self:capability { sys_module };

############### Deny sys module_load ######################
type test_finitmod_deny_module_load_t;
module_domain_type(test_finitmod_deny_module_load_t)
unconfined_runs_test(test_finitmod_deny_module_load_t)
typeattribute test_finitmod_deny_module_load_t testdomain;
typeattribute test_finitmod_deny_module_load_t finitmoddomain;

allow test_finitmod_deny_module_load_t self:capability { sys_module };
neverallow test_finitmod_deny_module_load_t test_file_t:system { module_load };

############### Deny sys module_request ######################
type test_finitmod_deny_module_request_t;
module_domain_type(test_finitmod_deny_module_request_t)
unconfined_runs_test(test_finitmod_deny_module_request_t)
typeattribute test_finitmod_deny_module_request_t testdomain;
typeattribute test_finitmod_deny_module_request_t finitmoddomain;

allow test_finitmod_deny_module_request_t self:capability { sys_module };
allow test_finitmod_deny_module_request_t test_file_t:system { module_load };
neverallow test_finitmod_deny_module_request_t kernel_t:system { module_request };

#
############# Test kernel modules with initmod_module(2) ###################
#
attribute initmoddomain;

type test_initmod_t;
module_domain_type(test_initmod_t)
unconfined_runs_test(test_initmod_t)
typeattribute test_initmod_t testdomain;
typeattribute test_initmod_t initmoddomain;

allow test_initmod_t self:capability { sys_module };
allow test_initmod_t self:system { module_load };
allow test_initmod_t kernel_t:system { module_request };

############### Deny cap sys_module ######################
type test_initmod_deny_sys_module_t;
module_domain_type(test_initmod_deny_sys_module_t)
unconfined_runs_test(test_initmod_deny_sys_module_t)
typeattribute test_initmod_deny_sys_module_t testdomain;
typeattribute test_initmod_deny_sys_module_t initmoddomain;

neverallow test_initmod_deny_sys_module_t self:capability { sys_module };

############### Deny sys module_load ######################
type test_initmod_deny_module_load_t;
module_domain_type(test_initmod_deny_module_load_t)
unconfined_runs_test(test_initmod_deny_module_load_t)
typeattribute test_initmod_deny_module_load_t testdomain;
typeattribute test_initmod_deny_module_load_t initmoddomain;

allow test_initmod_deny_module_load_t self:capability { sys_module };
neverallow test_initmod_deny_module_load_t self:system { module_load };

############### Deny sys module_request ######################
type test_initmod_deny_module_request_t;
module_domain_type(test_initmod_deny_module_request_t)
unconfined_runs_test(test_initmod_deny_module_request_t)
typeattribute test_initmod_deny_module_request_t testdomain;
typeattribute test_initmod_deny_module_request_t initmoddomain;

allow test_initmod_deny_module_request_t self:capability { sys_module };
allow test_initmod_deny_module_request_t self:system { module_load };
neverallow test_initmod_deny_module_request_t kernel_t:system { module_request };

#
########### Allow these domains to be entered from sysadm domain ############
#
miscfiles_domain_entry_test_files(finitmoddomain)
userdom_sysadm_entry_spec_domtrans_to(finitmoddomain)
miscfiles_domain_entry_test_files(initmoddomain)
userdom_sysadm_entry_spec_domtrans_to(initmoddomain)
